
.locator{
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4B0FF;
  /* border: 1px solid red; */
}
.location-selector {
    width: 100%;

}
@media (min-width: 225px) {
    .location-selector{
        max-width: 80%;
    }
}

@media(min-width:722px){
  .location-selector{
      max-width: 480px;
  }
}

